/* File CSS untuk website */
body {background-color: gainsboro;}

.Pembuka {margin:5px;
          padding-bottom: 10px;}
.Temp1 {display:flex;
        flex-direction: column;
        margin:5px;
        font-weight: bold;}

h2 {text-align: center;}

button {margin: 10px;
        margin-left: 5px;}
.btn {display: flex;
        flex-direction: row;}

.Penutup {margin:5px}  
.Calculation {margin:5px}       
textarea {margin: 5px;}
